:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
* {
  margin: 0;
  padding: 0;
  font-family: consolas;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.row {
  display: flex;
  justify-content: space-around;
  /* background-color: yellow; */
  width: 660px;
}
.buttononglet {
  padding: 0;
  width: 200px;
  /* background-color: green; */
}
.jumbotron {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: center;
  margin-bottom: 18px;
  /* background-color: red; */
}
.btn {
  width: 200px;
  /* background-color: purple; */
}
.card {
  max-width: 30em;
  background-color: var(--clr-bg);
}
.card-container {
  display: flex;
  width: 100%;
}
#contact {
  position: absolute;
  bottom: 4.5em;
  right: 4.5em;
}
#flecheRetour,
.flecheRetourdiv {
  position: absolute;
  top: 1.2em;
  left: 0.2em;
  height: 45%;
  width: 45%;
}
#flecheRetour {
  cursor: pointer;
}
input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  margin-top: 0.2em;
}
input[type="submit"] {
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-bottom: 0.8em;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #1872d9;
}
.containerForm {
  /* Ajouter box-sizing */
  box-sizing: border-box;
  border-radius: 5px;
  /* background-color:#f2f2f2; */
  padding: 20px;
  width: 100%;
  /* redéfinition 400 + 2*20 */
  max-width: 440px;
  margin: 0 auto;
}
h1 {
  color: #ffc800;
  width: 100%;
}
img {
    max-width: 100%;
    max-height: 600px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
/* Neon Card */
.neon-card {
    font-size: 1em;
    
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius : 0.25em;
    margin-right: 0.8em;

    text-shadow: 0 0 0.125em hsl(0, 0%, 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: 0 0 0.5em 0 var(--clr-neon), inset 0 0 0.5em 0 var(--clr-neon);
    
    position: relative;
}